* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  width: 50%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: #eee;
  padding: 50px;
  margin-top: 130px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4),
    inset 3px 3px 3px rgba(0, 0, 0, 0.4);
}
div > button {
  width: 20%;
  margin: auto;
  padding: 10px;
  background: aqua;
  border: none;
  outline: none;
  border-radius: 30px 30px 0px 30px;
}
